# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Dependencies
package-lock.json

# Build output
/dist/
/build/

/# Environment variables
.env

# IDE and Editor specific
.vscode/
.idea/
*.iml
